extends ./layouts/main
block content
    each animal in animals
        div.container.border.p-4
            b="Animal #"
            p=animal.ID
            b="Zoo"
            p=animal.Zoo
            b="Scientific Name"
            p=animal.ScientificName
            b="Common Name"
            p=animal.CommonName
            b="Gender"
            p=animal.Gender
            b="Date of Birth"
            p=animal.DateOfBirth
            b="Age"
            p=animal.Age
            b="Tranportable"
            p=animal.CanTransport
            form(method="post", action="/edit-animal")
                input(type="hidden" name="ID" value=animal.ID)
                button.form-control(type="submit") Edit Animal Record
    div.container.p-4
        form(method="post", action="/all-animals-next")
            input(type="hidden", name="move", value=animals[0])
            button.form-control(type="submit") Next Page
        form(method="post", action="/all-animals-prev")
            input(type="hidden", name="move", value=animals[0])
            button.form-control(type="submit") Previous Page