extends ./layouts/main
block content
    include ./partials/_title
    
    form.border.p-4(method='post')
        label.form-label(for="ID") Animal ID #
        input.form-control(id="ID", value=id, disabled=true)
        input(type="hidden", name="id", value=id)
        label.form-label(for="zoo") Home Zoo
        input.form-control(type="text", id="zoo", name="zoo", value=zoo, required)
        label.form-label(for="sctName") Scientific Name
        input.form-control(type="text", id="sctName", name="sctName", value=sctName, required)
        label.form-label(for="comName") Common Name
        input.form-control(type="text", id="comName", name="comName", value=comName, required)
        if(gender == "Male")
            div.form-group
                p="Gender"
                input(name="gender" type="radio", id="male", value="male", checked="true", required)
                label.form-label(for="male") Male
                input(name="gender" type="radio", id="female", value="female", required)
                label.form-label(for="female") Female
        else
            div.form-group
                p="Gender"
                input(name="gender" type="radio", id="male", value="male", required)
                label.form-label(for="male") Male
                input(name="gender" type="radio", id="female", value="female", checked="true", required)
                label.form-label(for="female") Female
        label.form-label(for="dob") Date of Birth
        input.form-control(type="date", id="dob", name="dob", value=dob, required)
        label.form-label(for="age") Age
        input.form-control(type="number", id="age", name="age", value=age, required)
        if(canTransport)
            div.form-group
                p="Is Transportable"
                input(name="canTransport" type="radio", id="true", value="true", checked, required)
                label.form-label(for="true") True
                input(name="canTransport" type="radio", id="false", value="false", required)
                label.form-label(for="false") False
        else
            div.form-group
                p="Is Transportable"
                input(name="canTransport" type="radio", id="true", value="true", required)
                label.form-label(for="true") True
                input(name="canTransport" type="radio", id="false", value="false", checked, required)
                label.form-label(for="false") False
        input.btn.btn-primary(type="submit", formaction="/update-animal", value="Update Record Changes")
        input.btn.btn-primary(type="submit", formaction="/delete-animal", value="Delete Record" )
